#book-container {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); 
  gap: 25px; 
  padding: 5px;
}

.card { 
  background: white; 
  border-radius: 15px; 
  overflow: hidden; 
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
  margin: 5px;

  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0,0,0,0.1);
}

.content { 
  padding: 15px; 
}

.badge { 
  padding: 4px 10px; 
  border-radius: 20px; 
  color: white; 
  font-size: 0.7rem; 
  font-weight: bold; 
}

/* the delete button */
.delete_button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255,255,255,0.9);
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s, background 0.2s, color 0.2s;
  font-size: 16px;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card:hover .delete_button {
  opacity: 1;
  background:var(--rust);
}

/* the badge color */
.book-badge { 
  background: var(--book-color); 
}

.show-badge { 
  background: var(--show-color); 
}


.genre-list { 
  display: block; 
  color: #888; 
  font-size: 0.8rem; 
  margin: 5px 0; 
}
